@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

  .full-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    margin-bottom: 0.5rem;
  }
  /* Custom styles for buttons */
  .btn-primary.bg-red {
    background-color: red;
    color: white;
  }

  .btn-secondary.bg-white.text-red {
    background-color: white;
    color: red;
  }
  .centered-content p{
    font-family: 'Bungee', sans-serif;
    
  }