@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

  .full-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  
  }
  /* Custom styles for buttons */
  .btn-danger.bg-red {
    background-color: red;
    color: white;
    font-family: 'Bungee', sans-serif;
  }

  .btn-secondary.bg-white.text-red {
    background-color: white;
    color: red;
    font-family: 'Bungee', sans-serif;
  }
  .centered-content p{
    font-family: 'Bungee', sans-serif;
    margin-bottom: 1rem;
  }
  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; /* Add margin to the top of social links */
  }

  .social-links a {
    font-size: 24px;
    margin: 0 10px; /* Adjust margin to add space between icons */
    color: white;
  }

  .social-links a i {
    color: white;
  }